<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<title>Guest Feed</title>
<link th:replace="fragments/fraggle.html :: headerfiles" />
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar"></div>
		<div class = "tweetsfont">
		
		<div class="new">
			<div class="container">
			
		
				<h2 style="font-family: 'Audiowide'">Tubular Tweet!</h2>
				<p th:text="'@Guest: ' + ${guest.guestmsg}" style="font-size: 25px"></p>
					
					
				</div>
			</div>
			</div>
		</div>
	</div>

</body>