body {
	background-image:
		url(https://ih1.redbubble.net/image.519028912.9445/flat,750x1000,075,f.u2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Audiowide', sans-serif;
}

.newtitle {
	color: #fc03ad;
	font-size: 25px;
}

.new {
	background-color: white;
	box-shadow: -1px -1px 0 #c7c3b9,
  				1px -1px 0 #c7c3b9,
  				-1px 1px 0 #c7c3b9,
  				1px 1px 0 #c7c3b9;
  	border-radius: 3px;
}

.navfont {
	font-family: 'Calibri Light', sans-serif;
}

.tweetsfont {
	font-family: 'Calibri';
}