body {
	background-image:
		url(https://ih1.redbubble.net/image.519028912.9445/flat,750x1000,075,f.u2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Audiowide', sans-serif;
}

.newtitle {
	color: #fc03ad
}

.new {
	background-color: white;
}

.navfont {
	font-family: 'Open Sans', sans-serif;
}